/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;
}

.card__img-wrapper {
  position: relative;
  overflow: hidden;
}

.card__img-label {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  color: var(--accent-clr, #000);
  font-family: var(--accent-font, 'PressStart2P'), sans-serif;
  font-size: 14px;
  line-height: normal;
  text-shadow: 1px 0 0 var(--bg-color),
  -1px 0 0 var(--bg-color),
  0 1px 0 var(--bg-color),
  0 -1px 0 var(--bg-color);
  mix-blend-mode: hard-light;
  right: 25px;
  top: 25px;
}

@supports (
  (-webkit-text-stroke: 1px var(--page-background-color, #ffffff)) or
  (text-stroke: 1px var(--page-background-color, #ffffff))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--page-background-color, #ffffff);
    text-stroke: 1px var(--page-background-color, #ffffff);
  }
}
