/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --main-text-weight: 400;
  --title-text-weight: 785;
  --title-font-size: 18px;
  --text-font-size: 18px;

  --button-text-color: #000;
  --content-width: clamp(23.1875rem, 16.035rem + 30.516vw, 43.75rem);
  --inner-padding: 0 clamp(1.25rem, 0.852rem + 1.696vw, 2.5rem);

  --header-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) clamp(0.875rem, -5.0626rem + 25.333vw, 7.531rem);

  --border-color: #000;
  --bg-color: #fff;
  --text-color: #000;

  --page-background-image:
          repeating-linear-gradient(
                  90deg,
                  #d3d3d3 0 2px,
                  transparent 2px 4px
          ),
          repeating-linear-gradient(
                  180deg,
                  #d3d3d3 0 2px,
                  transparent 2px 4px
          ),
          linear-gradient(
                  180deg,
                  #e7e7e7 0%,
                  #e7e7e7 0.01%,
                  #1a1a1a 100%
          );
  --page-background-color: #fff;
  --label-stroke-color: var(--page-background-color, #ffffff);
  --accent-clr: rgb(0 0 0);
  --transition-smooth: 0.3s ease;
  --transition-fast: 0.2s ease;
  --accent-color: black;

  --contour-color: #000;
  --animation-fill-color: #FF0000;
  --core-color: #000;
  --main-body-color: #000;
  --core-active-clr: #000;
  --main-body-active-clr: #000;
  --contour-active-clr: #000;
  --contour-liked-clr: #FF0000;
  --sparks-fill-clr: #FF0000;

  --core-clr-transparent: none;
  --main-body-clr-transparent: none;
  --core-clr: #000;
  --main-body-clr: #000;
  --contour-clr: #000;
  --sparks-fill-clr-transparent: #FF0000;

  --border-width: 2px;
  --transform-time: 0.3s;
  --transition-function: ease;

  --like-main-body-color: none;
  --like-contour-color: var(--text-color, #000000);
  --like-sparks-color: #ff0000;
}
